<div id="card-modal-guide" class="modal fade bs-example-modal" tabindex="-1" data-backdrop="static" data-keyboard="false"  role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog" role="document">
	<div class="modal-body">
    <div class="modal-content" >
		<div class="card-guide-message">
			<p>Vinpok Beam-L - Black has been successfully added to your cart.</p>
		</div>
		<div class="card-guide-group">
			<a class="button" href="/cart" >GO TO CART</a>
			<a class="button" href="/collections/all">CONTINUE SHOPPING</a></div>
	  </div>
  </div>
  </div>
</div>